---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hussain</title>
  </head>

  <body class="bg-black text-white">
    <Header />
    <slot />
  </body>
</html>
